.screen {
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}

header {
	position:absolute;
	left:0;
	top:0;
	right:0;
	height:44px;
	overflow:hidden;
	background:#fff;
	z-index:2;
}

header h1 {
position: relative;
	font-family:"Helvetica Neue","Helvetica",sans-serif;
	font-weight:normal;
	font-size:1rem;
	margin:0;
	padding:0;
	line-height:44px;
	text-align:center;
 	z-index: 2;
  	font-weight:300;
	box-shadow:inset 0 -1px 0 rgba(255,255,255,.25);
}

.content-blurred {
	margin-top:44px;
	position:absolute;
	top:0;
	left:0;
	right:0;
	-webkit-filter:blur(10px);
	filter:url(#blur-effect);
	opacity:.35;
  	z-index: 0;
}

.content-wrapper {
	position:relative;
	padding:0 1rem;
	z-index:1;
	height:100%;
	overflow:auto;
  	-webkit-backface-visibility:hidden;
	background: url('../res/bg_sign.png') fixed;
}

.content-wrapper .content {
 	margin-top:44px;
}

.content {
	display:block;
	padding-top:1em;	
}
.navi{
	position: fixed;
	top:0px;
	z-index:333;
	width:100%;
	height: 45px;
	background:#424242;
}
.linkbox{
	position: fixed;
	top:0px;
	padding:12px 15px 0 15px;
	z-index: 999;
	width:100%;
	height: 45px;
}
.navlink{
	color:#fff;
	margin:0 15px 0 15px;
}

.card-container{
	position:absolute;
	top:70px;
	width:70%;
	left:14%;
	padding:30px 30px 50px 30px;
}
.infopanel{
	margin-top: 30px;
	padding:30px 30px 50px 30px;
	margin-bottom: 0px
}
.infosubtitle{
	color:#4fb4f7;
}
.tip{
	display:inline-block;
	margin-top:12px;
	margin-left: 16px 
}
.submit
{
	position:absolute;
	display: inline-block;
	bottom:7px;
	right:10px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	width:120px;
	display:inherit;
	color:#fff;background-color:#4CAF50
}
