body {
	margin: 0;
	padding: 0;
	font-family: RobotoDraft,Roboto,Arial,sans-serif;
	background-color: #fff;
	color: rgba(0,0,0,0.87)
}

:focus {
	outline: 0
}

.text-input,.button {
	display: inline-block;
	vertical-align: top;
	border: 0
}

.sidemenu .menu li.selected::after,.ripple:active::after,.button:active::after,[ripple]:active::after,.fab:active::after {
	width: 100%!important;
	left: 0;
	top: 0!important;
	height: 100%!important;
	opacity: .12
}

.sidemenu .menu li.selected::after,.ripple:active::after,.button:active::after,[ripple]:active::after {
	border-radius: 0!important
}

.sidemenu .menu li.selected::after {
	color: rgba(0,0,0,0.87)
}

h5,.sidemenu h2,.subheading {
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 3em;
	top: 0;
	font-weight: 400
}

p {
	font-size: .8125em;
	margin-top: 1rem;
	margin-bottom: 1rem
}

.display-4,.display-3,.display-2,.display-1,h1,h2,h3,p,.headline,.title {
	-webkit-transition-property: color,font-size;
	transition-property: color,font-size;
	-webkit-transition-duration: .25s;
	transition-duration: .25s;
	-webkit-transition-timing-function: cubic-bezier(.55,0,.1,1);
	transition-timing-function: cubic-bezier(.55,0,.1,1);
	font-weight: 400
}

.display-4 {
	font-size: 7em;
	font-weight: 300
}

.display-3 {
	font-size: 3.5em
}

.display-2 {
	font-size: 2.8125em
}

h1,.display-1 {
	font-size: 2.125em
}

h2,.headline {
	font-size: 1.5em
}

h3,.title {
	font-size: 1.25em;
	font-weight: 500
}

h4,.subhead {
	font-size: 1em
}

a {
	color: #2196f3;
	text-decoration: none;
	cursor: pointer
}

a:hover,a:focus {
	text-decoration: underline
}

p {
	line-height: 1.5em;
	text-align: justify
}

.text-input,.dropdown-menu {
	padding: 1em 0 .5em 0;
	height: 1em;
	box-sizing: content-box;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #2196f3;
	background-color: inherit;
	-webkit-transition: border-color .3s;
	transition: border-color .3s;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: .5em
}

.text-input:not(:focus),.dropdown-menu:not(:focus):not(.active) {
	border-bottom-color: rgba(0,0,0,0.12)!important
}

.text-input:focus {
	border-bottom-width: 2px;
	padding-bottom: calc(0.5em - 1px)
}

.btn {
	position: relative;
	border: 0;
	text-transform: uppercase;
	text-decoration: none!important;
	padding: .5em .75em;
	font-size: .875em;
	font-weight: 500;
	font-family: inherit;
	border-radius: 2px;
	overflow: hidden;
	-webkit-transition: all .1s;
	transition: all .1s;
	text-align: center
}

.btn:not(.raised) {
	background: none!important
}

.btn.raised {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}

.btn.raised:active {
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.4)
}

.btn:disabled {
	color: #a8a8a8!important;
	box-shadow: none!important;
	pointer-events: none
}

.btn i {
	font-size: 1.5em;
	height: 1em;
	margin-right: .5em;
	vertical-align: middle
}

.fab {
	background-color: #fff;
	width: 2.33em;
	height: 2.33em;
	border-radius: 100%;
	font-size: 1.5em;
	font-family: inherit;
	font-weight: 400;
	text-transform: none;
	box-sizing: border-box;
	color: #000;
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.4);
	padding: 0.5em 0.417em;
}
.fab.small {
	width: 1.67em;
	height: 1.67em;
	line-height: 23px;
	padding: 0.33em;
}
.fab [class^="icon-"]:not(.icon-button)::before, .fab [class*=" icon-"]:not(.icon-button)::before {
	vertical-align: top;
}

.toast {
	-webkit-transition-property: opacity,bottom,left,right,width,margin,border-radius;
	transition-property: opacity,bottom,left,right,width,margin,border-radius;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
	font-size: .875em;
	min-height: .875em;
	background-color: #323232;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	color: #f1f1f1;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	line-height: 1.57em;
	border-radius: 2px;
	overflow: hidden
}

.toast-label {
	flex: 1;
	padding: .75em 1.5em .75em
}

.toast .button {
	margin: 0;
	-ms-flex-item-align: stretch;
	-webkit-align-self: stretch;
	align-self: stretch;
	font-size: inherit
}

.card {
	border-radius: 2px;
	background-color: #fff
}

.card {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}

.card[z="2"] {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.4)
}

.card[z="3"] {
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),0 1px 18px 0 rgba(0,0,0,0.12),0 3px 5px -1px rgba(0,0,0,0.4)
}

.card[z="4"] {
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.4)
}

.card[z="5"] {
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),0 6px 30px 5px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.4)
}

.rich-card {
	display: inline-block
}

.card-footer,.card-content {
	padding: .5em
}
/* Switches, checkboxes and radios */
.checkbox, .button, .icon-button {
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.checkbox label {
	vertical-align: middle;
}
.checkbox .form-control-label {
	margin-left: 0.5em;
}
/* Hide the native controls */
.checkbox input[type="checkbox"] {
	display: none;
}
/* Checkbox/Radio container */
.checkbox input[type="checkbox"] + label {
	border-radius: 100%;
	width: 1em;
	height: 1em;
	display: inline-block;
	background: transparent;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	position: relative;
	box-shadow: 0 0 0 transparent;
	color: #4caf50;
}

/* Checkbox container */
.checkbox input[type="checkbox"] + label {
	border-radius: 0.1em;
	border-style: solid;
	border-width: 0.15em;
	border-color: #5a5a5a;
	cursor: pointer;
	display: inline-block;
	height: 1em;
	margin-left: 0;
	margin-top: 0;
	visibility: visible;
	width: 1em;
}
/* Checkbox background */
.checkbox input[type="checkbox"] + label::before {
	content: "";
	margin-left: -0.15em;
	margin-top: -0.15em;
	position: absolute;
	top: 0;
	left: 0;
	width: -webkit-calc(100% + 0.3em);
	width: calc(100% + 0.3em);
	height: -webkit-calc(100% + 0.3em);
	height: calc(100% + 0.3em);
	border-radius: 0.1em;
	-webkit-transition: -webkit-transform .2s, background .1s;
	transition: transform .2s, background .1s;
	-webkit-transform: scale(0.1);
	transform: scale(0.1)
}
.checkbox input[type="checkbox"]:checked + label::before {
	background-color: currentColor;
	opacity: 1;
	-webkit-transform:none;
	transform: none;
}
/* Checkmark */
.checkbox input[type="checkbox"] + label::after {
	content: " ";
	border-style: solid;
	border-width: 0 0 0.15em 0.15em;
	border-color: transparent;
	cursor: pointer;
	height: 0.4em;
	left: 50%;
	margin-left: -0.4em;
	margin-top: -0.4em;
	position: absolute;
	top: 50%;
	width: 0.7em;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox input[type="checkbox"]:checked + label::after {
	border-color: rgba(255, 255, 255, 0.87);
}
/* Disabled checkbox state */
.checkbox input[type="checkbox"]:disabled + label {
	color: #999;
}
.lablink{
	color: #27AE60;
}